*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: red;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
img{
    width: 200px;
    height: 200px;
}
h2{
    text-align: center;
    color: black;
    justify-self: center;
}
/* this is where my list starts */
.cooking{
    color: blue;
}
.line{
    background-color: aqua;
}
#food{
    background-color: greenyellow;
    /* border-color: 3px black solid; */
    border: 5px black solid;
}
.first{
    border-style: dotted;
    margin: 10px 15px;
    padding: 30px;
}
/* My flexbox properties */

.childcontainer{
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.blue-container{
    border: 3px blue solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container{
    border: 2px aqua solid;
    margin: 6px;
    height: 3cm;
    width: 7cm;
}
.mime{
    margin-top: 100px;
}
.last{
    border: 1px grey solid;
}
img{
    width: 120px;
    height: 80%;
    border-radius: 50%;
}