
h1{
    text-align: center;
    color: red;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
img{
    width: 200px;
    height: 200px;
}
h2{
    text-align: center;
    color: black;
    justify-self: center;
}
/* this is where my list starts */
.cooking{
    color: blue;
}
.line{
    background-color: aqua;
}
