*{
background-color: rgb(75, 75, 202);
}
h1{
    text-align: center;
    color: red;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
img{
    width: 200px;
    height: 200px;
}
h2{
    text-align: center;
    color: black;
    justify-self: center;
}
