.data{
    background-color: brown;
}
img.snacks{
    width: 200;
    height: 29;
}
h1{
    align-items: center;
}
.face{
    width: 200px;
    height: 220px;
    border-radius: 50cm;
    background-color: blueviolet;
}
.page2{
    background-color: palegreen;
}
h1{
    align-self: center;
}
.list{
    background-color: brown;
}






















